@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/image/netflix-bg.png);
    height: 96vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    position: relative;
}

.main .box {
    height: 96vh;
    width: 100%;
    opacity: 0.65;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 77%;
    padding-top: 6px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
}

nav img {
    color: red;
    width: 117px;
    position: relative;
    z-index: 10;
}

.navhun {
    display: flex;
    justify-content: center;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

select {
    background-color: rgba(23, 23, 23, 0.7);
    color: white;
    border-radius: 4px;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100%-62px);
    display: flex;
    align-items: center;
    margin-top: 162px;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    line-height: 46px;
}

.hero> :first-child {
    text-align: center;
    font-weight: 900;
    font-size: 48px;
}

.hero> :nth-child(2) {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
}

.hero> :nth-child(3) {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

.separation {
    background-color: rgb(61, 57, 57);
    height: 7px;
}

.btn {
    color: white;
    padding: 3px 8px;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    margin-left: 16px;
}

.red-btn {
    color: white;
    /*height: 40px;
    width: 13vw;*/
    padding: 10px 15px;
    margin-left: 8px;
    background-color: red;
    border: none;
    font-size: 21px;
    font-weight: 400;
}

.red-btn-sm {
    color: white;
    font-size: 11px;
    font-family: 'Martel Sans', sans-serif;
    background-color: red;
    border: red;
    padding: 2px 12px;
    margin-right: 12px;
}

.inputhai {
    margin-right: 25px;
    align-items: center;
    display: flex;
    justify-content: center;

}

.inputhai input {
    width: 22vw;
    padding: 14px 15px;
    color: white;
    border: 1px solid rgba(246, 238, 238, 0.5);
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
}

.second {
    max-width: 74vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10vh auto;
    font-family: 'Martel Sans', sans-serif;
}

.second>div :nth-child(1) {
    font-size: 40px;
    font-weight: bolder;
}

.second>div :nth-child(2) {
    font-size: 20px;
}

.Secimg {
    position: relative;
}

.Secimg img {
    width: 30vw;
    position: relative;
    z-index: 10;
}

.Secimg video {
    width: 22vw;
    position: absolute;
    top: 56px;
    right: 50px;
}

.Secimg-vid {
    position: relative;
}

.Secimg-vid img {
    width: 34vw;
    position: relative;
    z-index: 10;
}

.Secimg-vid video {
    width: 22vw;
    position: absolute;
    top: 37px;
    right: 75px;
}

.Secimg-icon {
    position: relative;
}

.Secimg-icon :first-child {
    width: 34vw;
    position: relative;

}

.Secimg-icon :nth-child(2) {
    width: 5vw;
    top: 32px;
    z-index: 10;
}

.Secimg-icon>div {
    width: 20vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.fifth>div :first-child {
    font-family: 'Martel Sans', sans-serif;
    font-size: 40px;
    font-weight: bolder;
}

.fifth>div :nth-child(2) {
    font-size: 20px;
}

.faq {
    color: white;
    background-color: black;
    text-align: center;
    margin-top: 30px;
    font-family: 'Martel Sans', sans-serif;
}

.faq h2 {
    font-size: 40px;
    font-weight: 900;
}

.faqbox {
    max-width: 75vw;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 10px;
    cursor: pointer;
    transition: all 1s ease-out;
}

.faqbox:hover {
    background-color: #414141;
}

.faqbox span {
    font-family: 'Martel Sans', sans-serif;
    font-size: 20px;
}

.faqbox span i {
    font-size: 30px;
    transition: 0.3s;
}

.faqbtn {
    margin: 40px auto;
}

footer {
    max-width: 75vw;
    padding: 75px 0;
    margin: auto;
}

.footer-item {
    margin-top: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 10pxpx;
}

@media screen and (max-width: 1300px) {

    .footer {
        display: flex;
        justify-content: space-between;
    }
}

.questions {
    color: #ccc;
    font-size: 16px;
}


@media screen and (max-width: 480px) {
    .main {
        height: 55vh;
    }
    .main .box {
        height: 55vh;
        opacity: 0.65;
        background-color: black;
    }
    nav{
        max-width: 90%;
    }
    nav img {
        width: 90px;
    }
    .hero{
        margin-top: 70px;
        padding: 0px 15px;
    }
    .inputhai{
        flex-direction: column;
    }
    .inputhai :first-child{
        width: 60vw;
    }
    .red-btn{
        margin-top: 20px;
    }
.hero> :first-child {
    font-weight: 900;
    font-size: 30px;
}

.hero> :nth-child(2) {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}

.hero> :nth-child(3) {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}
.second{
    display: flex;
    margin: 6vh auto;
    text-align: center;
    flex-direction: column;
}

.second>div :nth-child(1) {
    font-size: 30px;
    font-weight: bolder;
}

.second>div :nth-child(2) {
    font-size: 16px;
}

.Secimg img {
    width: 90vw;
    position: relative;
    z-index: 10;
}
.Secimg video {
    width: 70vw;
    position: absolute;
    top: 56px;
    right: 50px;
}

.third{
    height: 48vh ;
    
}
.imroz img {
    width: 90vw;
    position: absolute;
    margin: 10px auto;  
    top: 225px;
}

.third >div :first-child{
    width: 80%;
}

.third :nth-child(2) {
    width: 90vw;;
    position: absolute;
    top: 1150px;
    align-items: center;
    margin: auto;
}

}

.footer a {
    font-size: 14px;
    color: #ccc;
}
